{% extends "all_internal.html" %}

{% block html_extras %}ng-app="characterSheet"{% endblock %}
{% block title %}The Charon Sheet - {{ page_title }}{% endblock %}
{% block headertitle %}{{ page_title }}{% endblock %}
{% block pageclass %}{{ page_name }}{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">{% endblock %}
{% block bottomjavascript %}<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
<script src="{{ STATIC_URL }}js/angular-resource.js"></script>
<script src="{{ STATIC_URL }}js/directives.js"></script>
<script src="{{ STATIC_URL }}js/services.js"></script>
<script src="{{ STATIC_URL }}js/app.js"></script>
<script src="{{ STATIC_URL }}js/controllers.js"></script>{% endblock %}

{% block maincontent %}
  
  <div ng-view>
  </div>
  
{% endblock %}