{% extends "bare_bones.html" %}

{% block html_extras %}ng-app="characterSheet"{% endblock %}
{% block title %}The Charon Sheet - {{ page_title }}{% endblock %}
{% block headertitle %}{{ page_title }}{% endblock %}
{% block pageclass %}{{ page_name }}{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css"><link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css"><link rel="stylesheet" href="{{ STATIC_URL }}css/charsheet.css">{% endblock %}
{% block bottomjavascript %}
<script src="{{ STATIC_URL }}js/libs/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/tabletop.js"></script>
{% endblock %}

{% block content %}
<div id="sheet">
	<h2>Geist: The Sin-Eaters</h2>
  <div id="basic-info" class="row">
		<dl id="identifiers" class="span4 dl-horizontal">
			<dt>Name</dt>
				<dd>Archibald Fortinbras Barrayan</dd>
			<dt>Geist</dt>
		</dl>
		<dl id="personality" class="span4 dl-horizontal">
			<dt>Virtue</dt>
			<dt>Vice</dt>
			<dt>Concept</dt>
		</dl>
		<dl id="demographics" class="span4 dl-horizontal">
			<dt>Archetype</dt>
			<dt>Threshold</dt>
			<dt>Krewe</dt>
		</dl>
  </div>
  <section id="attributes">
  	<header class="row">
  		<h3 class="span12">Attributes</h3>
  		<div class="priority span12">
  			Drag and drop to choose a priority:
	  		<table>
	  			<thead><tr><th>Primary</th><th>Secondary</th><th>Tertiary</th></thead>
	  			<tbody><tr class="priority-row"><td>Mental</td><td>Physical</td><td>Social</td></tr></tbody>
	  		</table>
  		</div>
    </header>
  	<div class="row">
			<section id="mental-attributes" class="span4">
				<h4>Mental</h4>
				<div class="incomplete spend-category">
					<header>
						<span class="lead">6 CP Left</span>
						<fieldset class="cp-choice">
							<label>Spend CP <input type="radio" name="mental-skills-spend" id="mental-skills-spend-cp" value="cp" checked></label>
							<label>Spend XP <input type="radio" name="mental-skills-spend" id="mental-skills-spend-xp" value="xp"></label>
						</fieldset>
						<button class="close">&times;</button>
					</header>
			  	<dl class="trait">
		  			<dt>Intelligence</dt>
		  			<dd class="dots"><input type="checkbox" id="int-attr-1"/><label for="int-attr-1"></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
					</dl>
					<dl class="trait">
		  			<dt>Wits</dt>
		  			<dd class="dots"><input type="checkbox"/><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
					</dl>
					<dl class="trait">
		  			<dt>Resolve</dt>
		  			<dd class="dots"><input type="checkbox"/><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
					</dl>
				</div>
			</section>
			<section class="span4">
				<h4>Physical</h4>
				<div class="incomplete spend-category">
					<header>
						<span class="lead">6 CP Left</span>
						<fieldset class="cp-choice">
							<label>Spend CP <input type="radio" name="mental-skills-spend" id="mental-skills-spend-cp" value="cp" checked></label>
							<label>Spend XP <input type="radio" name="mental-skills-spend" id="mental-skills-spend-xp" value="xp"></label>
						</fieldset>
						<button class="close">&times;</button>
					</header>
					<dl class="trait">
		  			<dt>Strength</dt>
		  			<dd class="dots"><input type="checkbox"/><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
					</dl>
					<dl class="trait">
		  			<dt>Dexterity</dt>
		  			<dd class="dots"><input type="checkbox"/><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
					</dl>
					<dl class="trait">
		  			<dt>Stamina</dt>
		  			<dd class="dots"><input type="checkbox"/><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
					</dl>
				</div>
			</section>
			<section class="span4">
				<h4>Social</h4>
				<div class="incomplete spend-category">
					<header>
						<span class="lead">6 CP Left</span>
						<fieldset class="cp-choice">
							<label>Spend CP <input type="radio" name="mental-skills-spend" id="mental-skills-spend-cp" value="cp" checked></label>
							<label>Spend XP <input type="radio" name="mental-skills-spend" id="mental-skills-spend-xp" value="xp"></label>
						</fieldset>
						<button class="close">&times;</button>
					</header>
					<dl class="trait">
		  			<dt>Presence</dt>
		  			<dd class="dots"><input type="checkbox"/><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
					</dl>
					<dl class="trait">
		  			<dt>Manipulation</dt>
		  			<dd class="dots"><input type="checkbox"/><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
					</dl>
					<dl class="trait">
		  			<dt>Composure</dt>
		  			<dd class="dots"><input type="checkbox"/><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
					</dl>
				</div>
			</section>
		</div>
  </section>
  <section id="traits-body" class="row">
		<section id="skills" class="span4">
			<h3>Skills</h3>
			<div class="priority">
  			Drag and drop to choose a priority:
	  		<table>
	  			<thead><tr><th>Primary</th><th>Secondary</th><th>Tertiary</th></thead>
	  			<tbody><tr class="priority-row"><td>Mental</td><td>Physical</td><td>Social</td></tr></tbody>
	  		</table>
  		</div>
			<h4>Mental</h4>
				<section id="mental-skills" class="incomplete spend-category">
					<header>
						<span class="lead">6 CP Left</span>
						<fieldset class="cp-choice">
							<label>Spend CP <input type="radio" name="mental-skills-spend" id="mental-skills-spend-cp" value="cp" checked></label>
							<label>Spend XP <input type="radio" name="mental-skills-spend" id="mental-skills-spend-xp" value="xp"></label>
						</fieldset>
						<button class="close">&times;</button>
					</header>
					<dl class="trait">
		  			<dt>Academics</dt>
		  			<dd class="dots"><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
		  			<dd class="notes"></dd>
					</dl>
					<dl class="trait">
		  			<dt>Computer</dt>
		  			<dd class="dots"><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
		  			<dd class="notes"></dd>
					</dl>
					<dl class="trait">
		  			<dt>Crafts</dt>
		  			<dd class="dots"><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
		  			<dd class="notes"></dd>
					</dl>
					<dl class="trait">
		  			<dt>Investigation</dt>
		  			<dd class="dots"><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
		  			<dd class="notes"></dd>
					</dl>
					<dl class="trait">
		  			<dt>Medicine</dt>
		  			<dd class="dots"><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
		  			<dd class="notes"></dd>
					</dl>
					<dl class="trait">
		  			<dt>Occult</dt>
		  			<dd class="dots"><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
		  			<dd class="notes"></dd>
					</dl>
					<dl class="trait">
		  			<dt>Politics</dt>
		  			<dd class="dots"><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
		  			<dd class="notes"></dd>
					</dl>
					<dl class="trait">
		  			<dt>Science</dt>
		  			<dd class="dots"><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
		  			<dd class="notes"></dd>
					</dl>
				</section>
		</section>
		<section id="abilities" class="span4">
			<h3>Merits</h3>
			<section id="merits" class="incomplete spend-category">
					<header>
						<span class="lead">6 CP Left</span>
						<fieldset class="cp-choice">
							<label>Spend CP <input type="radio" name="mental-skills-spend" id="mental-skills-spend-cp" value="cp" checked></label>
							<label>Spend XP <input type="radio" name="mental-skills-spend" id="mental-skills-spend-xp" value="xp"></label>
						</fieldset>
						<button class="close">&times;</button>
					</header>
				<dl class="trait">
					<dt class="input-append">
						<input type="text" />
						<div class="btn-group">
							<button class="btn dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Allies</a></li>
								<li><a href="#">Contacts</a></li>
							</ul>
						</div>
						<a href="#" class="icon-remove"></a>
					</dt>
						<dd class="dots"><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
				</dl>
				<dl class="trait">
					<dt class="input-append">
						<input type="text" />
						<div class="btn-group">
							<button class="btn dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Allies</a></li>
								<li><a href="#">Contacts</a></li>
							</ul>
						</div>
						<a href="#" class="icon-remove"></a>
					</dt>
						<dd class="dots"><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
				</dl>
				<dl class="trait">
					<dt class="input-append">
						<input type="text" />
						<div class="btn-group">
							<button class="btn dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Allies</a></li>
								<li><a href="#">Contacts</a></li>
							</ul>
						</div>
						<a href="#" class="icon-remove"></a>
					</dt>
						<dd class="dots"><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
				</dl>
				<a href="#" class="btn btn-block addtrait"><span class="icon-plus-sign"></span> Add Merit</a>
			</section>

			<h3>Manifestations</h3>
			<section id="manifestations" class="complete spend-category">
				<header>
					<span class="lead">0 CP Left</span>
					<fieldset class="cp-choice">
						<label>Spend CP <input type="radio" name="manifestation-spend" id="manifestation-spend-cp" value="cp" checked></label>
						<label>Spend XP <input type="radio" name="manifestation-spend" id="manifestation-spend-xp" value="xp"></label>
					</fieldset>
					<button class="close">&times;</button>
				</header>
				<dl class="trait">
	  			<dt>Boneyard</dt>
	  			<dd class="dots"><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
	  			<dd class="notes"></dd>
				</dl>
				<dl class="trait">
	  			<dt>Caul</dt>
	  			<dd class="dots"><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
	  			<dd class="notes"></dd>
				</dl>
				<dl class="trait">
	  			<dt>Curse</dt>
	  			<dd class="dots"><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
	  			<dd class="notes"></dd>
				</dl>
				<dl class="trait">
	  			<dt>Marionette</dt>
	  			<dd class="dots"><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
	  			<dd class="notes"></dd>
				</dl>
				<dl class="trait">
	  			<dt>Rage</dt>
	  			<dd class="dots"><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
	  			<dd class="notes"></dd>
				</dl>
				<dl class="trait">
	  			<dt>Shroud</dt>
	  			<dd class="dots"><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
	  			<dd class="notes"></dd>
				</dl>
				<dl class="trait">
	  			<dt>Pit</dt>
	  			<dd class="dots"><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label><input type="checkbox" /><label></label></dd>
	  			<dd class="notes"></dd>
				</dl>
			</section>

			<h3>Keys</h3>
			<section class="spend-category">
				<dl class="trait">
	  			<dt>Cold Wind</dt>
	  			<dd class="dots"><input type="checkbox" /><label></label>
				</dl>
				<dl class="trait">
	  			<dt>Grave-Dirt</dt>
	  			<dd class="dots"><input type="checkbox" /><label></label>
				</dl>
				<dl class="trait">
	  			<dt>Pyre-Flame</dt>
	  			<dd class="dots"><input type="checkbox" /><label></label>
				</dl>
				<dl class="trait">
	  			<dt>Tear-Stained</dt>
	  			<dd class="dots"><input type="checkbox" /><label></label>
				</dl>
				<dl class="trait">
	  			<dt>Industrial</dt>
	  			<dd class="dots"><input type="checkbox" /><label></label>
				</dl>
				<dl class="trait">
	  			<dt>Passion</dt>
	  			<dd class="dots"><input type="checkbox" /><label></label>
				</dl>
				<dl class="trait">
	  			<dt>Phantasmal</dt>
	  			<dd class="dots"><input type="checkbox" /><label></label>
				</dl>
				<dl class="trait">
	  			<dt>Stigmata</dt>
	  			<dd class="dots"><input type="checkbox" /><label></label>
				</dl>
				<dl class="trait">
	  			<dt>Stillness</dt>
	  			<dd class="dots"><input type="checkbox" /><label></label>
				</dl>
				<dl class="trait">
	  			<dt>Stygian</dt>
	  			<dd class="dots"><input type="checkbox" /><label></label>
				</dl>
			</section>
			
  </section>
  <section id="advantages" class="span4">
		<h3>Health</h3>
		<div class="dots tracker">
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
		</div>
		<div class="boxes tracker">
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
		</div>

		<h3>Willpower</h3>
		<div class="dots tracker">
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
		</div>
		<div class="boxes tracker">
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
		</div>

		<h3>Psyche</h3>
		<div class="dots tracker">
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
		</div>

		<h3>Plasm</h3>
		<div class="boxes tracker">
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
		</div>
		<div class="boxes tracker">
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
		</div>
		<div class="boxes tracker">
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
			<input type="checkbox" /><label></label>
		</div>
  </section>
</div>
<div id="xp-log">
	<table class="table table-bordered table-hover">
		<caption><h2>Experience Point Log</h2></caption>
		<thead>
			<tr><th>Date</th>			<th>Earned</th>	<th>Spent</th><th>Category</th>	<th>Notes</th></tr>
		</thead>
		<tbody>
			<tr><td>6/28/2013</td><td>10</td>			<td></td>		<td>Game</td>			<td>NC-008-D</td></tr>
			<tr><td>6/30/2013</td><td></td>				<td>10</td>	<td>Key</td>			<td>Primeval Key (paid at start of quest)</td></tr>
			<tr><td><a href="#" class="icon-remove"></a><input type="text" value="6/30/2013" /></td><td></td>				<td><input type="text" value="10" /></td>	<td class="input-append">
						<input type="text" value="Key"/><div class="btn-group">
							<button class="btn dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#">Merits</a></li>
								<li><a href="#">Skills</a></li>
							</ul>
						</div>
				</td>			<td><input type="text" value="Primeval Key (paid at start of quest)" /></td></tr>
			<tr><td>6/30/2013</td><td>5</td>			<td></td>		<td>Downtime</td>	<td>NC-008-D</td></tr>
		</tbody>
	</table>
	<a href="#" class="btn btn-block addtrait"><span class="icon-plus-sign"></span> Add Entry</a>
</div>

{% endblock %}